.pyCode {
    color: rgb(134, 36, 175);
}

.pyClassHeader {
    color: rgb(239, 224, 187);
}

.pyString {
    color: rgb(0, 255, 81);
}

.pyVar {
    color: rgb(20, 161, 255);
}

.pyArg {
    color: rgb(34, 67, 255);
}

.pySyn1 {
    color: rgb(134, 36, 175);
}

.pySyn2 {
    color: rgb(255, 230, 16);
}

.pyFun {
    color: rgb(255, 246, 161);
}

.pyLiteral {
    color: rgb(242, 128, 208)
}

/* .pyCodeLink:after {
    background-color: rgb(207, 116, 44);
} */