.bodySection {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px white;
    border-radius: 5px;
}

#myStory {
    background-color: rgba(20, 7, 32, 0.6);
}

.bodySectionBody {
    font-family: codeFont;
    font-size: x-small;
}

/* For tablets and larger */
@media (min-width: 480px) {
    .bodySectionBody  {
        font-size: medium;
    }
}

.jsonLogo {
    font-family: codeFont;
    color: rgb(255, 251, 81);
}

#jsonTitle {
    font-family: codeFont;
    color: rgb(101, 183, 181);
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    font-size: 15px;
}

/* For tablets and larger */
@media (min-width: 480px) {
    #jsonTitle {
        font-size: 20px;
    }
}

.listNumbersContainer {
    overflow: clip;
    text-align: right;
    padding-top: 1px;
} .lineNumber {
    color: rgb(152, 101, 153);
} 