.bodySection {
    background-color: rgba(20, 7, 32, 0.6);
    box-shadow: 0 0 10px white;
    border-radius: 5px;
}

.bodySectionHeader {
    font-family: codeFont;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    background-color: rgb(49, 31, 65);
}

.bodySectionBody {
    font-family: codeFont;
    font-size: calc(var(--global-font-size));
    overflow: hidden;
}

.jsonLogo {
    font-family: codeFont;
    color: rgb(255, 251, 81);
}

#myStory {
    background-color: rgba(20, 7, 32, 0.6);
} #myStoryTitle {
    font-family: codeFont;
    color: rgb(101, 183, 181);
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    font-size: calc(var(--global-font-size) * 1.3);
    overflow: hidden;
}

.lineNumbersContainer {
    text-align: right;
} .lineNumber {
    font-family: codeFont;
    color: rgb(72, 46, 95);
} 