.jsonCode {
    font-family: codeFont;
    color: rgb(88, 136, 204);
}

.objectKey {
    font-family: codeFont;
    color: rgb(153, 88, 127);
}

.objectValue {
    font-family: codeFont;
    color: rgb(24, 112, 30);
}
