.jsonLine {
    white-space: pre-wrap; /* Enable word wrapping */
    word-wrap: break-word; /* Break long words if needed */
    overflow-wrap: break-word; /* Ensure long words are wrapped */
}

.jsonCode {
    color: rgb(255, 251, 81);
}

.objectKey {
    color: rgb(101, 183, 181);
}

.objectValue {
    color: rgb(189, 101, 123);
}

.dynamic-indent {
    margin-left: var(--dynamic-margin, 0px);
}

.lineTest {
    color: red;
}