.jsonLine {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.jsonCode {
    color: #fffb51;
}

.objectKey {
    color: #65b7b5;
    white-space: nowrap;
}

.objectValue {
    color: #bd657b;
}