@font-face {
    font-family: globalFont;
    src: url("./assets/fonts/SpButchLiteMedium-rv229.otf");
    font-weight: normal;
}

@font-face {
    font-family: globalFont;
    src: url("./assets/fonts/SpButchLiteBold-8O88B.otf");
    font-weight: bold;
}

* {
    font-family: globalFont;
    font-weight: normal;
    color: white;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}