@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
    font-family: 'Cascadia Code';
    padding: 0;
    margin: 0;
}

:root {
    --header-image-dimension: 250px;
    --global-font-size: 10px;
    --experience-margin: 10px;
    --experience-year-width: 40px;
    --experience-description-width: 200px;
    --header-flex-direction: column;
    --pyAbout-width: 90vw;
    --nav-width: 100vw;
    --nav-height: auto;
    --nav-offset: 0px;
    --nav-justify: center;
    --nav-flex-direction: row;
    --nav-position: relative;
    --content-flex-direction: column;
    --body-section-width: 80%;
    --body-section-margin: 0px;
    --header-top-margin: 125px;
    --experience-alignment: center;

    --theme-color-a: rgba(20, 7, 32, 0.4);
    --theme-color-b: rgb(49, 31, 65, 0.8);
    --theme-color-c: rgb(141, 87, 177);
    --theme-color-1: rgb(101, 183, 181);
    --theme-color-2: rgb(199, 113, 134);
    --theme-color-3: rgb(255, 251, 81);
}

@media (min-width: 575px) {
    :root {
        --pyAbout-width: inherit;
    }
}

  
@media (min-width: 768px) {
    :root {
        --header-image-dimension: 300px;
        --global-font-size: 14px;
        --experience-margin: 50px;
        --experience-year-width: 60px;
        --experience-description-width: auto;
        --body-section-width: 60%;
        --body-section-margin: 20%;
        --header-top-margin: 200px;
    }
}

@media (min-width: 1240px) {
    :root {
        --nav-offset: 175px;
        --nav-width: 175px;
        --nav-height: 100vh;
        --nav-justify: start;
        --nav-flex-direction: column;
        --nav-position: fixed;
        --content-flex-direction: row;
        --experience-alignment: start;
    }
}

@media (min-width: 1400px) {
    :root {
        --header-flex-direction: row;
    }
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.fade {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.pageContainer {
    display: flex;
    flex-direction: var(--content-flex-direction);
    height: 100vh;
}

/* =========================================================== */
/* Text */

h2 {
    color: var(--theme-color-1);
    font-size: calc(var(--global-font-size) * 1.3);
    text-shadow: 0 0 2px white;
}

h3 {
    color: var(--theme-color-2);
    font-size: calc(var(--global-font-size)*1.8);
    text-shadow: 0 0 2px rgb(187, 64, 64);
}


h4 {
    color: var(--theme-color-3);
    font-size: calc(var(--global-font-size)*1.1);
    text-shadow: 0 0 5px white;
}

h5 {
    color: white;
    font-size: calc(var(--global-font-size)*1.5);
    text-shadow: 0 0 5px white;
}

h6 {
    color: var(--theme-color-1);
    font-size: calc(var(--global-font-size) * 1.1);
    text-shadow: 0 0 10px white;
}

.customTooltip {
    background-color: #fff6ec;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

.customTooltipArrow {
    width: 10px;
    height: 10px;
    background-color: #fff6ec;
    transform: rotate(45deg) translateX(5px) translateY(-5px);    
} 

.textLink {
    position: relative;
    text-decoration: none;
    
} .textLink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    background-color: rgb(207, 116, 44);
} 
.textLink:hover::after {
    width: 100%;
    
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.hiddenLeft {
    transform: translateX(-100%);
}

.hiddenRight {
    transform: translateX(100%);
}

.hiddenDelayed {
    transition-delay: 1ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* =========================================================== */
/* NavBar */

.nav {
    position: var(--nav-position);
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: var(--nav-height);
    background-color: var(--theme-color-a);
    box-shadow: 0 0 10px var(--theme-color-1);
    backdrop-filter: blur(8px);
}

.navSection {
    width: 100%;
    box-shadow: 0 0 10px var(--theme-color-1);
    justify-content: var(--nav-justify);
    flex-direction: var(--nav-flex-direction);
}

.navButton {
    background-color: var(--theme-color-a);
    border-radius: 4px;
    padding: 4px;
    border: solid black 1px;
    text-align: center;
    transition: transform 0.3s ease, color, 0.3s ease;
} .navButton:hover {
    background-color: var(--theme-color-b);
    transform: scale(0.99);
}

/* =========================================================== */
/* BODY */

.content {
    margin-left: var(--nav-offset);
    overflow-y: auto;
    height: 100vh;
    flex-grow: 1;
    overflow-x: hidden;
    align-items: center;
}

.bodySection {
    background-color: var(--theme-color-a);
    box-shadow: 0 0 10px var(--theme-color-1);
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(8px);
}

.bodySectionHeader {
    background-color: var(--theme-color-b);
    box-shadow: 0 0 10px var(--theme-color-1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    text-align: center;

    .bodySectionHeaderTitle {
        font-size: calc(var(--global-font-size) * 2);
    }
}

.bodySectionBody {
    font-size: calc(var(--global-font-size));
    overflow: clip;
    padding-bottom: 4px;
}

/* =========================================================== */
/* HEADER */

.pageHeader {
    display: flex;
    flex-direction: var(--header-flex-direction);
    justify-content: center;
    align-items: center;
    margin-top: var(--header-top-margin);
}

@keyframes moveHeaderImage {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw)
    }
}

.headerImagesContainer {
    position: relative;
    width: var(--header-image-dimension);
    height: var(--header-image-dimension);
    justify-content: center;
    align-items: center;
    /* animation-name: moveHeaderImage; */
    animation-duration: 2000s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.headerImage {
    box-shadow: 0 0 20px var(--theme-color-1);
    border: solid var(--theme-color-1) 2px;
    border-radius: 100%;
    width: var(--header-image-dimension);
    height: var(--header-image-dimension);
    transition: opacity 2s ease-in-out;
    position: absolute;
}

.pyAboutContainer {
    background-color: rgb(25, 53, 73, 0.5);
    border-radius: 20px;
    box-shadow: inset 0 0 20px black;
    filter: drop-shadow(0 0 20px rgb(14, 4, 68));
    width: var(--pyAbout-width);
    overflow-x: auto;
    backdrop-filter: blur(8px);
}

.pyAboutHeader {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
}

.pyAboutLogo {
    background-color: rgba(14, 4, 68, 0.5);
    justify-content: center;
    height: 100%;
    width: 100px;
}

.pyAboutTab {
    color: white;
    text-shadow: 0 0 5px rgb(25, 0, 255);
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: calc(var(--global-font-size) * 1.4);
}

.pyAboutHeaderFiller {
    background-color: rgba(14, 4, 68, 0.5);
    width: 100%;
    height: 100%;
}

.pyAboutBody {
    padding-left: 15px;
}

.pyAboutCodeContainer {
    font-size: calc(var(--global-font-size) * 0.9);
}

.pyAboutLineNumber {
    font-size: calc(var(--global-font-size) * 0.9);
}

.pyAboutLineNumbersContainer {
    color: rgb(28, 62, 172);
    padding-top: 1px;
}

/* =========================================================== */
/* EXPERIENCE */

#Experience { 
    width: var(--body-section-width);
    margin-top: 400px;
    position: relative;
    align-items: var(--experience-alignment);
}

.timeline {
    flex-direction: column-reverse;
    margin: var(--experience-margin);
    margin-top: 30px;
    margin-bottom: 30px;
}

.timelineNode {
    min-height: 100px;
    max-height: 100px;
}

.timelineNodeYear {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
    text-shadow: 0 0 10px var(--theme-color-1);
}

.timelineNodeLink {
    min-width: 100px;
    max-width: 100px;
    border-radius: 50%;
    transition: box-shadow 0.4s ease-in-out;
}

.timelineNodeImage {
    border-radius: 100%;
    box-shadow: 0 0 20px white;
}

.timelineNodeLink:hover {
    box-shadow: 0 0 20px rgb(189, 91, 10);
    border-radius: 100%;
    box-shadow: 0 0 20px rgb(189, 91, 10), 
                0 0 25px rgb(189, 91, 10);
}

.timelineNodeDescription {
    flex-direction: column;
    overflow: show;
    /* width: var(--experience-description-width); */
}

.timelineDividerContainer {
    width: 100px;
    height: 100px;
}

.timelineDivider {
    width: 1px;
    margin: 0 auto;
    height: inherit;
    background-color: white;
    box-shadow: 0 0 90px rgb(189, 91, 10),
                0 0 80px rgb(189, 91, 10),
                0 0 70px rgb(189, 91, 10),
                0 0 60px rgb(189, 91, 10),
                0 0 50px rgb(189, 91, 10),
                0 0 40px rgb(189, 91, 10),
                0 0 30px rgb(189, 91, 10);    
}

/* =========================================================== */
/* Projects */

#Projects { 
    width: var(--body-section-width);
    margin-right: var(--body-section-margin);
    margin-top: 300px;
}

.projectList {
    flex-direction: column;
    margin: 30px;
}

.projectNode {
    flex-direction: column;
}

.projectLink {
    transition: transform 0.3s ease;
}

.projectLink:hover {
    transform: scale(0.98);
}

/* =========================================================== */
/* Skills */

#Skills { 
    width: var(--body-section-width);
    margin-left: var(--body-section-margin);
    margin-top: 300px;
}

/* =========================================================== */
/* STORY */

#Story { 
    width: var(--body-section-width);
    margin-right: var(--body-section-margin);;
    margin-top: 300px;
}

.myStoryLineNumber {
    font-size: 10px;
}

.fileLogo {
    font-size: calc(var(--global-font-size) * 1.9);
    color: var(--theme-color-3);
}

.myStoryLineNumber {
    font-size: calc(var(--global-font-size));
}

.myStoryLineNumbersContainer {
    color: var(--theme-color-c);
}

/* =========================================================== */
/* Footer */

.footer {
    background-color: var(--theme-color-b);
    flex-direction: column;
    height: 150px;
    backdrop-filter: blur(4px);
    margin-top: 150px;
    flex-shrink: 0;
    box-shadow: 0 0 10px white;
}

.footerLink {
    transition: transform 0.3s ease, color 0.3s ease;
    color:white;
}

.footerLink:hover {
    color: var(--theme-color-1);
    transform: scale(0.9);
}